/* header styles */

header {
	position: relative;
	width: 100%;
	padding-bottom:50px;
	background-color: #3f0d12;
}

header ul {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	float:right;
	overflow: hidden;
}


header ul li {
	display: inline-block;
	float:left;
	padding: 14px 16px;
}

header ul li a {
	text-align: center;
	text-decoration: none;
	color: #f1f0cc;
	font-family: Lustria, Serif;
}


header ul li:hover {
	background-color: #A71D31;
	font-style: italic;
}

#header-logo {
	float: left;
	font-size:30px;
	padding: 5px;
}

#header-logo a {
	border: 1px black;
	text-decoration: none;
	font-weight: bold;
	color: #f1f0cc;
	font-family: Lustria, Serif;
}


/* navigation menu styles */




/* footer styles */



/* other general theme styles */
.page-wrapper{
	width: 100%;
	position: fixed;
}



/********************************************
put all other styles UNDER here; make sure
to comment in what pages they are for
*********************************************/

body, html {
  margin: 0px;
  padding: 0px;
  background-color: #F1F0CC
}

h1, h2 {
	color:#A71D31;
    font-size:32px;
    padding:10px;
    margin:0 auto;
    position:relative;
    font-family:Raleway;
    max-width:800px;
}

h2 {
	color: #A71D31;
	font-size: 24px;
}

p {
	color:#3F0D12;
   	font-size:17px;
   	font-family:Lustria;
   	padding:15px;
}

a {
	color:#3F0D12;
   	margin:0px;
   	font-family:Lustria;
}

table {
	width: 100%;
}

