/* header styles */

header {
	width: 100%;
	padding-bottom:47px;
	background-color: #3f0d12;
}

#header-logo {
	float: left;
	font-size:28px;
	padding: 5px;
	padding-left:10px;
}

#header-logo a {
	border: 1px black;
	text-decoration: none;
	font-weight: bold;
	color: #f1f0cc;
	font-family: Lustria, Serif;
}

/* navigation menu styles */

.topnav {
	float:right;
    overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f1f0cc;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.topnav a:hover {
	background-color: #A71D31;
	font-style: italic;
}

/* hide hamburger menu icon at larger sizes */
.menuicon {
  display: none;
  color: #f1f0cc;
}

/* dropdown nav menu styles */

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn{
	margin: 0;
  	padding: 14px 16px;
}

.dropdown-content {
	display: none;
	position: relative;
	background-color: #d5bf86;
	min-width: 140px;
	max-width: 140px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	top: 47px; /*temporary fix for overlap issue*/
}

.dropdown-content a {
	float: none;
	color: #3f0d12;
	text-decoration: none;
    padding: 12px 16px;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {background-color: #f1f0cc;}


.dropdown:hover .dropdown-content {
    display: block;
    position:absolute;
}

/* responsive dropdown menu */
@media screen and (max-width: 850px) {
	header {
		padding: 0px;
	}
	#header-logo {
		display: block;
		float: none;
		text-align: center;
	}
	.dropdown-content {
		top: 93px;
	}
	.topnav {
		float: none;
		width: 80%;
		margin:auto;
	}
}
/*
@media screen and (max-width: 715px) {
  	.topnav a, .dropdown .dropbtn {
    	display: none;
  	}
 	.menuicon a.icon {
    	float: right;
    	display: block;
  	}

	#header-logo {
		display: inline;
		float: left;
		padding-left:10px;
	}


 }*/


/* footer styles */
footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #8D775f;
   color: #3F0D12;
   font-size:14px;
   text-align: right;


}

#social {
	float:left;
	padding-left:15px;
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#social img {
	display:inline-block;
	margin: 5px;
	padding: 3px;
}

#copyright {
	float:right;
	padding-right:15px;
}

/* other general theme styles */
.page-wrapper{
	width: 100%;
	position: fixed;
}

body{
	margin: 0px;
	padding: 0px;
	background-color: #F1F0CC
}

/* this is used in the body of all pages */
.main-container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	padding-bottom: 100px;
}

h1, h2 {
	color:#A71D31;
    font-size:32px;
    position:relative;
    font-family:Lustria, Serif;
}

h2 {
	color: #A71D31;
	font-size: 24px;
}

p, ul, li{
	color:#3F0D12;
   	font-size:17px;
   	font-family:Raleway, Sans-Serif;
}

a {
	color:#3F0D12;
  	font-family:Raleway, Sans-Serif;
}

/* for news.html */
table {
	width: 100%;
}

